<blockquote>
  <p>To cover the cost of development and to allow for growth, Creedexchange created a community/utility token (Creedex Token)</p>
  <footer><a href="https://creedexchange.github.io" target="_blank">https://creedexchange.github.io</a></footer>
</blockquote>
