<blockquote>
  <p>Creedexchange created a community/utility token (Creedex Token). Creedex Token will be the reward system for community members for providing valuable information</p>
  <footer><a href="https://creedexchange.github.io" target="_blank">https://creedexchange.github.io</a></footer>
</blockquote>
